<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <title>Projects</title>
  </head>
  <body>
    <main>
      <!--<section
		id="project"
		class="flex items-center justify-center bg-gradient-to-l from-violet-400 via-purple-500 to-sky-500 text-white h-[50vh]"
>-->
      <div class="text-3xl title">Проєкти</div>
      <section class="work mt-[80px] xl:mt-[150px] relative z-20">
        <div class="container mx-auto xl:px-0">
          <!-- text -->
          <div class="text-center mb-24">
            <h2 class="work__title h2 mb-4">Слідкуйте за нашими проектами</h2>
            <p class="work__subtitle max-w-3xl mx-auto">
              Це давно встановлений факт, на який читач відволікатиметься
              читабельного вмісту сторінки, дивлячись на її макети.
            </p>
          </div>
          <!-- grid -->
          <div
            class="work__grid grid grid-cols-1 xl:grid-cols-3 gap-x-10 gap-y-[56px]"
          >
            <!-- item 1 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
              <img
                class="mb-6 rounded-br-[3rem]"
                src="./img/hero/GPT/scene-01.webp"
                alt="work-1"
              />
              <div class="flex justify-between items-center w-full">
                <div>
                  <h3 class="h3">Маркізи</h3>
                  <p>Декор/Архітектура</p>
                </div>
                <button
                  class="text-center rounded-lg bg-green-500 px-5 text-sm font-medium text-green-50 py-2.5 hover:bg-green-800 hover:text-white"
                >
                  Дізнатися більше
                </button>
              </div>
            </div>

            <!-- item 2 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
              <img
                class="mb-6 rounded-b-[3rem]"
                src="./img/hero/GPT/scene-02.webp"
                alt="work-2"
              />
              <div class="flex justify-between items-center w-full">
                <div>
                  <h3 class="h3">М'які вікна</h3>
                  <p>Декор/Архітектура</p>
                </div>
                <button
                  class="text-center rounded-lg bg-green-500 px-5 text-sm font-medium text-green-50 py-2.5 hover:bg-green-800 hover:text-white"
                >
                  Дізнатися більше
                </button>
              </div>
            </div>

            <!-- item 3 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
              <img
                class="mb-6 rounded-bl-[3rem]"
                src="./img/hero/GPT/scene-03.webp"
                alt="work-3"
              />
              <div class="flex justify-between items-center w-full">
                <div>
                  <h3 class="h3">Парасолі</h3>
                  <p>Декор/Архітектура</p>
                </div>
                <button
                  class="text-center rounded-lg bg-green-500 px-5 text-sm font-medium text-green-50 py-2.5 hover:bg-green-800 hover:text-white"
                >
                  Дізнатися більше
                </button>
              </div>
            </div>

            <!-- item 4 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
              <img
                class="mb-6 rounded-r-[3rem]"
                src="./img/hero/GPT/scene-01.webp"
                alt="work-1"
              />
              <div class="flex justify-between items-center w-full">
                <div>
                  <h3 class="h3">Рефлексолі</h3>
                  <p>Декор/Архітектура</p>
                </div>
                <button
                  class="text-center rounded-lg bg-green-500 px-5 text-sm font-medium text-green-50 py-2.5 hover:bg-green-800 hover:text-white"
                >
                  Дізнатися більше
                </button>
              </div>
            </div>

            <!-- item 5 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
              <img
                class="mb-6 rounded-[3rem]"
                src="./img/hero/GPT/scene-02.webp"
                alt="work-2"
              />
              <div class="flex justify-between items-center w-full">
                <div>
                  <h3 class="h3">Перголи</h3>
                  <p>Декор/Архітектура</p>
                </div>
                <button
                  class="text-center rounded-lg bg-green-500 px-5 text-sm font-medium text-green-50 py-2.5 hover:bg-green-800 hover:text-white"
                >
                  Дізнатися більше
                </button>
              </div>
            </div>

            <!-- item 6 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
              <img
                class="mb-6 rounded-l-[3rem]"
                src="./img/hero/GPT/scene-03.webp"
                alt="work-3"
              />
              <div class="flex justify-between items-center w-full">
                <div>
                  <h3 class="h3">Літні майданчики</h3>
                  <p>Декор/Архітектура</p>
                </div>
                <button
                  class="text-center rounded-lg bg-green-500 px-5 text-sm font-medium text-green-50 py-2.5 hover:bg-green-800 hover:text-white"
                >
                  Дізнатися більше
                </button>
              </div>
            </div>

            <!-- item 7 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
              <img
                class="mb-6 rounded-tr-[3rem]"
                src="./img/hero/GPT/scene-01.webp"
                alt="work-1"
              />
              <div class="flex justify-between items-center w-full">
                <div>
                  <h3 class="h3">Системна веранда</h3>
                  <p>Декор/Архітектура</p>
                </div>
                <button
                  class="text-center rounded-lg bg-green-500 px-5 text-sm font-medium text-green-50 py-2.5 hover:bg-green-800 hover:text-white"
                >
                  Дізнатися більше
                </button>
              </div>
            </div>

            <!-- item 8 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
              <img
                class="mb-6 rounded-t-[3rem]"
                src="./img/hero/GPT/scene-02.webp"
                alt="work-2"
              />
              <div class="flex justify-between items-center w-full">
                <div>
                  <h3 class="h3">Скляні перегородки</h3>
                  <p>Декор/Архітектура</p>
                </div>
                <button
                  class="text-center rounded-lg bg-green-500 px-5 text-sm font-medium text-green-50 py-2.5 hover:bg-green-800 hover:text-white"
                >
                  Дізнатися більше
                </button>
              </div>
            </div>

            <!-- item 9 -->
            <div class="w-full max-w-[548px] h-full mx-auto">
              <img
                class="mb-6 rounded-tl-[3rem]"
                src="./img/hero/GPT/scene-03.webp"
                alt="work-3"
              />
              <div class="flex justify-between items-center w-full">
                <div>
                  <h3 class="h3">Терасна дошка</h3>
                  <p>Декор/Архітектура</p>
                </div>
                <button
                  class="text-center rounded-lg bg-green-500 px-5 text-sm font-medium text-green-50 py-2.5 hover:bg-green-800 hover:text-white"
                >
                  Дізнатися більше
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--	</section>-->
      </section>
    </main>
  </body>
</html>
