<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Select</title>
  </head>
  <body>
    <select
      name="production"
      id="production"
      required
      class="h-[50px] w-[500px] rounded-xl bg-white px-5 py-4 font-poppins text-base shadow-[0px_1px_15px_rgba(0,0,0,0.15)] text-[13px] font-medium text-blueviolet focus:outline-blueviolet flex flex-col items-center"
    >
      <option class="text-[20px]" value="Виберіть продукцію:">
        Виберіть продукцію:
      </option>
      <option class="text-[20px]" value="МАРКІЗИ">МАРКІЗИ</option>
      <option
        class="text-[20px]"
        value="&nbsp;&nbsp;Ліктьова маркіза (горизонтальна)"
      >
        &nbsp;&nbsp;Ліктьова маркіза (горизонтальна)
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Балконна маркіза">
        &nbsp;&nbsp;Балконна маркіза
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Коробова маркіза">
        &nbsp;&nbsp;Коробова маркіза
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Терасна маркіза">
        &nbsp;&nbsp;Терасна маркіза
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Вертикальна маркіза">
        &nbsp;&nbsp;Вертикальна маркіза
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Двосторонні маркізи">
        &nbsp;&nbsp;Двосторонні маркізи
      </option>
      <option class="text-[20px]" value="М’ЯКІ ВІКНА">М’ЯКІ ВІКНА</option>
      <option
        class="text-[20px]"
        value="&nbsp;&nbsp;М’які вікна проста система"
      >
        &nbsp;&nbsp;М’які вікна проста система
      </option>
      <option
        class="text-[20px]"
        value="&nbsp;&nbsp;М’які вікна система на замках"
      >
        &nbsp;&nbsp;М’які вікна система на замках
      </option>
      <option
        class="text-[20px]"
        value="&nbsp;&nbsp;М’які вікна система на замках з москітною сіткою"
      >
        &nbsp;&nbsp;М’які вікна система на замках з москітною сіткою
      </option>
      <option
        value="&nbsp;&nbsp;М’які вікна ролетна система (тросильна система)"
      >
        &nbsp;&nbsp;М’які вікна ролетна система (тросильна система)
      </option>
      <option class="text-[20px]" value="ПАРАСОЛІ">ПАРАСОЛІ</option>
      <option
        class="text-[20px]"
        value="&nbsp;&nbsp;Металічні вуличні парасолі"
      >
        &nbsp;&nbsp;Металічні вуличні парасолі
      </option>
      <option
        class="text-[20px]"
        value="&nbsp;&nbsp;Металічні консольні парасолі"
      >
        &nbsp;&nbsp;Металічні консольні парасолі
      </option>
      <option class="text-[20px]" value="РЕФЛЕКСОЛІ">РЕФЛЕКСОЛІ</option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Система LATERAL">
        &nbsp;&nbsp;Система LATERAL
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Система ZIP">
        &nbsp;&nbsp;Система ZIP
      </option>
      <option class="text-[20px]" value="ПЕРГОЛИ">ПЕРГОЛИ</option>
      <option class="text-[20px]" value="СИСТЕМА ВЕРАНДА">
        СИСТЕМА ВЕРАНДА
      </option>
      <option class="text-[20px]" value="СКЛЯННІ ПЕРЕГОРОДКИ">
        СКЛЯННІ ПЕРЕГОРОДКИ
      </option>
      <option class="text-[20px]" value="ЛІТНІ МАЙДАНЧИКИ">
        ЛІТНІ МАЙДАНЧИКИ
      </option>
      <option class="text-[20px]" value="ЗАВІСИ ПВХ">ЗАВІСИ ПВХ</option>
      <option class="text-[20px]" value="ТЕНТИ І НАВІСИ">ТЕНТИ І НАВІСИ</option>
      <option class="text-[20px]" value="МЕТАЛІЧНІ КОНСТРУКЦІЇ">
        МЕТАЛІЧНІ КОНСТРУКЦІЇ
      </option>
      <option class="text-[20px]" value="ТЕРАСНА ДОШКА ДПК">
        ТЕРАСНА ДОШКА ДПК
      </option>
      <option
        class="text-[20px]"
        value="&nbsp;&nbsp;Терасна дошка 2D Professional"
      >
        &nbsp;&nbsp;Терасна дошка 2D Professional
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Терасна дошка 2D Classic">
        &nbsp;&nbsp;Терасна дошка 2D Classic
      </option>
      <option
        class="text-[20px]"
        value="&nbsp;&nbsp;Терасна дошка 2D Classic Home"
      >
        &nbsp;&nbsp;Терасна дошка 2D Classic Home
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Терасна дошка 2D Lite">
        &nbsp;&nbsp;Терасна дошка 2D Lite
      </option>
      <option
        class="text-[20px]"
        value="&nbsp;&nbsp;Терасна дошка 2D Lite Premium"
      >
        &nbsp;&nbsp;Терасна дошка 2D Lite Premium
      </option>
      <option
        class="text-[20px]"
        value="&nbsp;&nbsp;Терасна дошка 3D Professional"
      >
        &nbsp;&nbsp;Терасна дошка 3D Professional
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Терасна дошка 3D Classic">
        &nbsp;&nbsp;Терасна дошка 3D Classic
      </option>
      <option
        class="text-[20px]"
        value="&nbsp;&nbsp;Терасна дошка 3D Lite Premium"
      >
        &nbsp;&nbsp;Терасна дошка 3D Lite Premium
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Фасадна панель ДПК">
        &nbsp;&nbsp;Фасадна панель ДПК
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Декоративна планка ДПК">
        &nbsp;&nbsp;Декоративна планка ДПК
      </option>
      <option class="text-[20px]" value="ТКАНИНИ">ТКАНИНИ</option>
      <option class="text-[20px]" value="&nbsp;&nbsp;ПВХ тканина Sioen">
        &nbsp;&nbsp;ПВХ тканина Sioen
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Маркізна тканина Sattler">
        &nbsp;&nbsp;Маркізна тканина Sattler
      </option>
      <option class="text-[20px]" value="&nbsp;&nbsp;Тканина SCREEN тканини">
        &nbsp;&nbsp;Тканина SCREEN тканини
      </option>
    </select>
    <span class="wpcf7-form-control-wrap" data-name="your-message">
      <textarea
        cols="40"
        rows="10"
        class="wpcf7-form-control wpcf7-textarea 12333"
        aria-invalid="false"
        placeholder="Ваше повідомлення"
        name="your-message"
      ></textarea>
    </span>

    <div class="container mx-auto h-full">
      <h2 class="mb-4 flex-1 text-center h2 text-accent xl:mb-0">Contact us</h2>

      <div class="flex flex-col justify-around gap-8 md:flex-row">
        <!-- image contact -->
        <div>
          <img
            class="h-auto w-full max-w-full"
            src="./img/subscribe.png"
            alt="subscribe"
          />
        </div>

        <!-- =========================================================================== -->
        <!--

						Для відправлення пошти на Ваш Email переходимо на сайт
						<a href="https://web3forms.com/platforms/tailwindcss-contact-form#step__1">Контактні форми для веб-сайтів
							Tailwind CSS</a>
						та покроково робимо три речі:
						1. Створити ключ доступу
						(Ключ доступу буде надіслано на вашу електронну адресу.)
						2. Створіть форму CSS Tailwind
						(форма вже створена, якщо потрібно створюємо нову форму для ваших потреб.)
						3. Додайте свій ключ доступу
						(Замініть ключ доступу на справжній ключ, щоб почати отримувати повідомлення електронною поштою.)

						 <form action="https://api.web3forms.com/submit" method="POST" id="form">
							<input type="hidden" name="access_key" value="YOUR_ACCESS_KEY_HERE">

		-->
        <!-- =========================================================================== -->

        <!-- contact form -->
        <form
          action="https://api.web3forms.com/submit"
          method="POST"
          id="form"
          class="mt-10 mb-10 flex flex-1 flex-col items-center gap-4"
        >
          <input
            type="hidden"
            name="access_key"
            value="d217de00-a20c-4b95-8ac7-4a11426fb92f"
          />

          <div class="flex flex-col">
            <label for="name" class="text-accent">Ваше ім'я</label>
            <input
              type="text"
              name="name"
              required
              placeholder="enter your name..."
              autocomplete="off"
              id="name"
              class="h-[50px] w-[500px] rounded-xl bg-white px-5 py-4 font-poppins text-base shadow-[0px_1px_15px_rgba(0,0,0,0.15)] placeholder:text-[13px] placeholder:font-medium placeholder:text-blueviolet focus:outline-blueviolet"
            />
          </div>

          <div class="flex flex-col">
            <label for="email" class="text-accent">Ваш email</label>
            <input
              type="email"
              name="name"
              required
              placeholder="enter your email..."
              autocomplete="off"
              id="email"
              class="h-[50px] w-[500px] rounded-xl bg-white px-5 py-4 font-poppins text-base shadow-[0px_1px_15px_rgba(0,0,0,0.15)] placeholder:text-[13px] placeholder:font-medium placeholder:text-blueviolet focus:outline-blueviolet"
            />
          </div>

          <div class="flex flex-col">
            <label for="phone" class="text-accent"> Ваш телефон </label>
            <input
              type="tel"
              name="phone"
              required
              placeholder="enter your phone number..."
              autocomplete="off"
              id="phone"
              class="h-[50px] w-[500px] rounded-xl bg-white px-5 py-4 font-poppins text-base shadow-[0px_1px_15px_rgba(0,0,0,0.15)] placeholder:text-[13px] placeholder:font-medium placeholder:text-blueviolet focus:outline-blueviolet"
            />
            <!--				</div>-->

            <div class="mx-auto mt-6 flex flex-col items-center">
              <div>
                <label for="courses" class="text-accent h-[50px] w-[500px]"
                  >Виберіть продукцію:</label
                >
                <select
                  name="production"
                  id="production"
                  required
                  class="h-[50px] w-[500px] rounded-xl bg-white px-5 py-4 font-poppins text-base shadow-[0px_1px_15px_rgba(0,0,0,0.15)] text-[13px] font-medium text-blueviolet focus:outline-blueviolet flex flex-col items-center"
                >
                  <option class="text-[20px]" value="Виберіть продукцію:">
                    Виберіть продукцію:
                  </option>
                  <option class="text-[20px]" value="МАРКІЗИ">МАРКІЗИ</option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Ліктьова маркіза (горизонтальна)"
                  >
                    &nbsp;&nbsp;Ліктьова маркіза (горизонтальна)
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Балконна маркіза"
                  >
                    &nbsp;&nbsp;Балконна маркіза
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Коробова маркіза"
                  >
                    &nbsp;&nbsp;Коробова маркіза
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Терасна маркіза"
                  >
                    &nbsp;&nbsp;Терасна маркіза
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Вертикальна маркіза"
                  >
                    &nbsp;&nbsp;Вертикальна маркіза
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Двосторонні маркізи"
                  >
                    &nbsp;&nbsp;Двосторонні маркізи
                  </option>
                  <option class="text-[20px]" value="М’ЯКІ ВІКНА">
                    М’ЯКІ ВІКНА
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;М’які вікна проста система"
                  >
                    &nbsp;&nbsp;М’які вікна проста система
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;М’які вікна система на замках"
                  >
                    &nbsp;&nbsp;М’які вікна система на замках
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;М’які вікна система на замках з москітною сіткою"
                  >
                    &nbsp;&nbsp;М’які вікна система на замках з москітною сіткою
                  </option>
                  <option
                    value="&nbsp;&nbsp;М’які вікна ролетна система (тросильна система)"
                  >
                    &nbsp;&nbsp;М’які вікна ролетна система (тросильна система)
                  </option>
                  <option class="text-[20px]" value="ПАРАСОЛІ">ПАРАСОЛІ</option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Металічні вуличні парасолі"
                  >
                    &nbsp;&nbsp;Металічні вуличні парасолі
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Металічні консольні парасолі"
                  >
                    &nbsp;&nbsp;Металічні консольні парасолі
                  </option>
                  <option class="text-[20px]" value="РЕФЛЕКСОЛІ">
                    РЕФЛЕКСОЛІ
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Система LATERAL"
                  >
                    &nbsp;&nbsp;Система LATERAL
                  </option>
                  <option class="text-[20px]" value="&nbsp;&nbsp;Система ZIP">
                    &nbsp;&nbsp;Система ZIP
                  </option>
                  <option class="text-[20px]" value="ПЕРГОЛИ">ПЕРГОЛИ</option>
                  <option class="text-[20px]" value="СИСТЕМА ВЕРАНДА">
                    СИСТЕМА ВЕРАНДА
                  </option>
                  <option class="text-[20px]" value="СКЛЯННІ ПЕРЕГОРОДКИ">
                    СКЛЯННІ ПЕРЕГОРОДКИ
                  </option>
                  <option class="text-[20px]" value="ЛІТНІ МАЙДАНЧИКИ">
                    ЛІТНІ МАЙДАНЧИКИ
                  </option>
                  <option class="text-[20px]" value="ЗАВІСИ ПВХ">
                    ЗАВІСИ ПВХ
                  </option>
                  <option class="text-[20px]" value="ТЕНТИ І НАВІСИ">
                    ТЕНТИ І НАВІСИ
                  </option>
                  <option class="text-[20px]" value="МЕТАЛІЧНІ КОНСТРУКЦІЇ">
                    МЕТАЛІЧНІ КОНСТРУКЦІЇ
                  </option>
                  <option class="text-[20px]" value="ТЕРАСНА ДОШКА ДПК">
                    ТЕРАСНА ДОШКА ДПК
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Терасна дошка 2D Professional"
                  >
                    &nbsp;&nbsp;Терасна дошка 2D Professional
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Терасна дошка 2D Classic"
                  >
                    &nbsp;&nbsp;Терасна дошка 2D Classic
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Терасна дошка 2D Classic Home"
                  >
                    &nbsp;&nbsp;Терасна дошка 2D Classic Home
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Терасна дошка 2D Lite"
                  >
                    &nbsp;&nbsp;Терасна дошка 2D Lite
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Терасна дошка 2D Lite Premium"
                  >
                    &nbsp;&nbsp;Терасна дошка 2D Lite Premium
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Терасна дошка 3D Professional"
                  >
                    &nbsp;&nbsp;Терасна дошка 3D Professional
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Терасна дошка 3D Classic"
                  >
                    &nbsp;&nbsp;Терасна дошка 3D Classic
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Терасна дошка 3D Lite Premium"
                  >
                    &nbsp;&nbsp;Терасна дошка 3D Lite Premium
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Фасадна панель ДПК"
                  >
                    &nbsp;&nbsp;Фасадна панель ДПК
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Декоративна планка ДПК"
                  >
                    &nbsp;&nbsp;Декоративна планка ДПК
                  </option>
                  <option class="text-[20px]" value="ТКАНИНИ">ТКАНИНИ</option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;ПВХ тканина Sioen"
                  >
                    &nbsp;&nbsp;ПВХ тканина Sioen
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Маркізна тканина Sattler"
                  >
                    &nbsp;&nbsp;Маркізна тканина Sattler
                  </option>
                  <option
                    class="text-[20px]"
                    value="&nbsp;&nbsp;Тканина SCREEN тканини"
                  >
                    &nbsp;&nbsp;Тканина SCREEN тканини
                  </option>
                </select>
              </div>
            </div>

            <div class="mt-6 mb-6 flex flex-col">
              <span class="wpcf7-form-control-wrap" data-name="your-message">
                <textarea
                  cols="40"
                  rows="10"
                  class="wpcf7-form-control wpcf7-textarea 12333"
                  aria-invalid="false"
                  placeholder="Ваше повідомлення"
                  name="your-message"
                ></textarea>
              </span>
            </div>
            <div>
              <input
                type="submit"
                value="Відправити"
                class="mx-auto btn btn-lg btn-accent w-[500px] xl:mx-0"
                name="send"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
